h2{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 32%);
    padding: 0px;
    margin: 0px;
overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center; 
    
}
.navbar a:hover{
    background-color: hsl(0, 0%, 15%) ;
}
.navbar li{
    float: left;
}